@{
    ViewData["Title"] = "Home Page";
}

    <header class="masthead text-center text-white">
        <div class="masthead-content" style="font-family:cursive;">
            <div class="container">
                <h1 class="masthead-heading mb-0 text-primary">Hire a Professional !!</h1>
                <h2 class="masthead-subheading mb-0 text-primary"> Professionals Hire based on the  of experience and skills</h2>
                <a href="/Professionals" class="btn btn-primary btn-xl rounded-pill mt-5">Start Hiring a professional</a>
            </div>
        </div>

    </header>
